{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div>
		<font size="4" face="Courier New" >
			<table width="100%" border="1" class="container-fluid" id="users"></table>
		</font>
	</div>
	<!--!>
	{% if is_paginated %}
		{% if page_obj.has_previous %}
			<a class="btn btn-outline-info mb4" href="?page=1">First</a>
			<a class="btn btn-outline-info mb4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}

		{% for num in page_obj.paginator.page_range %}
			{% if page_obj.number == num %}
				<a class="btn btn-info mb4" href="?page={{ num }}">{{ num }}</a>
			{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
				<a class="btn btn-outline-info mb4" href="?page={{ num }}">{{ num }}</a>
			{% endif %}
		{% endfor %}

		{% if page_obj.has_previous %}
			<a class="btn btn-outline-info mb4" href="?page={{ page_obj.next_page_number }}">Next</a>
			<a class="btn btn-outline-info mb4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
		{% endif %}		
	{% endif %}
	<-->
	<style>
		body { margin:0;padding:0; }
		table { width: 100%; }
		/*#users{
			word-break: break-all
		}*/
		#users{
			position: relative;
			left: 0;  
    	}
	</style>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script defer>
		const AuthStr = 'Token '.concat(localStorage.getItem("token")); 
		if('{{username}}' != ""){
			axios.get(
				'http://localhost:8001/evcharge/api/admin/users/{{username}}/',
				{ headers: {
   					"X-OBSERVATORY-AUTH": AuthStr
 				}
			})
			.then( (response) => {
	            console.log(response)
	        	var table = '<thead><th scope="col">Users</th></thead>';
	            var thead = '<thead>';
	            for(var key in response.data){
	            	thead += '<th scope="col">'+key+'</th>';
	            }
	            thead += '</thead>';
	        	var tbody = '<tbody>';
        		for(var key in response.data){
        			tbody += '<td style="word-break:break-all;">'+response.data[key]+'</td>'; 
        		}
        		tbody += '</tr>';
	        	tbody += '</tbody>';
	        	table += thead+tbody+'</table>';
        		document.getElementById('users').innerHTML = table;
	        })
			.catch( (error) => {
	           console.log(error);
	        })	
		}
		else{
			axios.get(
				'http://localhost:8001/evcharge/api/admin/users/',
				{ headers: {
   					"X-OBSERVATORY-AUTH": AuthStr,
 				}
 			})
	        .then( (response) => {
	            console.log(response)
	            var table = '<thead><th scope="col">Users</th></thead>';
	            var thead = '<thead>';
	            for(var key in response.data[0]){
	            	thead += '<th scope="col">'+key+'</th>';
	            }
	            thead += '</thead>';
	        	var tbody = '<tbody>';
	        	for(var i in response.data){
	        		for(var key in response.data[i]){
	        			tbody += '<td style="word-break:break-all;">'+response.data[i][key]+'</td>'; 
	        		}
	        		tbody += '</tr>';
	        	}
	        	tbody += '</tbody>';
	        	table += thead+tbody+'</table>';
	        	document.getElementById('users').innerHTML = table;
	        })
	        .catch( (error) => {
	           console.log(error);
	        })		
	    }	
	</script>
{% endblock content %}