{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<table id="dtBasicExample" class="table table-bordered table-striped"></table>
<!--<table id="dtBasicExample" class="tablesorter"></table>	-->

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
	const AuthStr = 'Token '.concat(localStorage.getItem("token")); 
	axios.get(
		'http://localhost:8765/evcharge/api/admin/healthcheck/',
		{ headers: {
				'X-CSRFToken': '{{ csrf_token }}',
				"X-OBSERVATORY-AUTH": AuthStr
			}
	})
	.then( (response) => {
        console.log(response);
        var table = ''
    	//var thead = '<thead class="thead-dark">';
        var thead = '<thead class="thead-light">';
        for(var key in response.data){
        	thead += '<th>'+key+'</th>';
        }
        thead += '</thead>';
    	var tbody = '<tbody>';
		for(var key in response.data){
			//tbody += '<tr>';
			tbody += '<td style="word-break:normal;">'+response.data[key]+'</td>'; 
			//tbody += '</tr>';
		}
    	tbody += '</tbody>';
    	table += thead+tbody;
		document.getElementById('dtBasicExample').innerHTML = table;
    })
	.catch( (error) => {
       alert('Oops! Something went wrong..')
       console.log(error);
    })
</script>

{% endblock content %}