{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div id="Chartcontainer" style="width: 500px; height: 400px;"></div>
<div id="TotalPay" style="width: 500px; height: 400px;"></div>
<script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-base.min.js" type="text/javascript"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script defer>
	const AuthStr = 'Token '.concat(localStorage.getItem("token")); 
	axios.get(
		'http://localhost:8765/evcharge/api/SessionsPerVehicle/{{ id }}/{{ date_from }}/{{ date_to }}/',
		{ headers: {
			//'X-CSRFToken': '{{ csrf_token }}',
			"X-OBSERVATORY-AUTH": AuthStr,
		}
	})
	.then(response => {
		console.log(response);
		var raf = new Array(response.data.VehicleChargingSessionsList.length).fill(0).map(() => new Array(2).fill(0));
		var totalCost= 0;
		for (var i=0; i<response.data.VehicleChargingSessionsList.length; i++)
		{
			raf[i][1]= response.data.VehicleChargingSessionsList[i].SessionCost;
			totalCost+= raf[i][1];
			raf[i][1]= raf[i][1].toFixed(5);
			console.log(response.data.VehicleChargingSessionsList[i].StartedOn)
			raf[i][0]= response.data.VehicleChargingSessionsList[i].StartedOn;
		}
		console.log(totalCost);
		var kommenoTotalCost = totalCost.toFixed(2);
	    var chart = anychart.pie();
        chart.data(raf);
        //show the values not the percentage
        chart.labels().format("{%value}");
        chart.title("Itemized Bill (in  €  )");
        chart.container("Chartcontainer");
        chart.draw();
        //var reversedDateFrom = "{{ date_from }}".split( '' ).reverse( ).join( '' );
        var year= "{{ date_from }}".substring(0, 4);
        var month= "{{ date_from }}".substring(4, 6);
        var date= "{{ date_from }}".substring(6,8);
        var StrDateFrom = date+"/"+month+"/"+year;
        var year= "{{ date_to }}".substring(0, 4);
        var month= "{{ date_to }}".substring(4, 6);
        var date= "{{ date_to }}".substring(6,8);
        var StrDateTo = date+"/"+month+"/"+year; 

		document.getElementById("TotalPay").innerHTML = `<h3><br><br>${kommenoTotalCost}  €  <br>the bill from ${StrDateFrom} to ${StrDateFrom}</h3>`;
	})

</script>
{% endblock content %}