{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Sessionsupd</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
    </div>

    <table id="dtBasicExample" class="table table-bordered table-striped"></table>
    <!--<table id="dtBasicExample" class="tablesorter"></table> -->

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        function makeSearch() {
            const AuthStr = 'Token '.concat(localStorage.getItem("token")); 
            var formData = new FormData();
            //alert('{{ form }}');
            var file = document.querySelector('#file');
            formData.append("file", file.files[0]);
            axios.post(
                'http://localhost:8001/evcharge/api/admin/system/sessionsupd/', formData,
                { headers: {
                        "X-OBSERVATORY-AUTH": AuthStr,
                        "content-type": "multipart/form-data",
                    }
            })
            .then( (response) => {
                alert('Call made successfully!');
                /*axios.post(
                    'http://http://localhost:8000/sessionsupd/',data = response.data,
                )*/
                console.log(response);
            })
            .catch( (error) => {
               alert('Oops! Something went wrong..')
               console.log(error);
               console.log(formData);
            })
        }
        
    </script>
{% endblock content %}