{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<table id="dtBasicExample" class="table table-bordered table-striped"></table>
<!--<table id="dtBasicExample" class="tablesorter"></table>	-->

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
	for(var key in response.data){
        	thead += '<th>'+key+'</th>';
        }
        thead += '</thead>';
    	var tbody = '<tbody>';
		for(var key in response.data){
			//tbody += '<tr>';
			tbody += '<td style="word-break:normal;">'+response.data[key]+'</td>'; 
			//tbody += '</tr>';
		}
    	tbody += '</tbody>';
    	table += thead+tbody;
		document.getElementById('dtBasicExample').innerHTML = table;
</script>

{% endblock content %}