{% extends "common/base_pagination.html" %}
{% load crispy_forms_tags %}
{% block content %}

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
		const AuthStr = 'Token '.concat(localStorage.getItem("token")); 
		axios.get(
				'http://localhost:8765/evcharge/api/admin/users/{{username}}/',
				{ headers: {
   					"X-OBSERVATORY-AUTH": AuthStr
 				}
			})
		.then( (response) => {
			var raf = new Array(response.data.length).fill(0).map(() => new Array(4).fill(0));
            for(var key in response.data){
            	raf[i] = key;
            }
    		for(var key in response.data){
    			//tbody += '<tr>';
    			tbody += '<td style="word-break:normal;">'+response.data[key]+'</td>'; 
    			//tbody += '</tr>';
    		}
        })
		.catch( (error) => {
			alert("Oops!! Something went wrong :(");
            console.log(error);
        })
    </script>